#about_img {
	height: auto; 
	width: auto; 
	max-width: 7rem; 
	max-height: 7rem;
	float: left;
	margin: 0px 3px 0 0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-shape-outside: circle();
	shape-outside: circle();
} /*https://www.html5andbeyond.com/wrap-text-around-a-rounded-image-using-css-shape-outline/*/
