body {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #e7e7e7, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #e7e7e7, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #e7e7e7, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #e7e7e7, white); /* Standard syntax */
}

.navigation_articles {
    display: none;
}

.responsive_menu_button_articles {
	font-size: 2rem;
}

.article_div_padding {
    padding: .5%;
}

@media only screen and (min-width: 420px) {
    .article_div_padding {
        padding-top: 1%;
        padding-bottom:1%;
    }
}

@media only screen and (max-width: 925px) {
	.articles-page-title {
		margin: 0 0 0 3%;
	}
	.articles-mobile-header {
		display: block;
	}
}
@media only screen and (min-width: 926px) {
    .article_title {
        display: none;
    }
    .article_div_padding {
        padding-right: 1%;
        padding-left: 10%;
        padding-bottom: 4%;
    }
    #articles_navigation_div {
        display: flex;
        margin-top: 1.5%;
        position: fixed;
    }
    #articles_navigation_div nav {
        display: block;
    }
    #articles_navigation_div nav ul {
        display: block;
    }
    #articles_navigation_div nav ul li {
        padding: 25% 0;
/*        font-size: 200%;*/
    }
}
@media only screen and (min-width: 955px) {
    .article_div_padding {
        padding-right: 5%;
        padding-left: 10%;
        padding-bottom: 1.5%;
    }
}












