.articles-wrapper {
	display: flex;
	flex-flow: row wrap;
	}

.articles-articles {
	display: flex;
	flex-flow: column;
	flex: 2;
	margin: 0 2.5%;
}

.navigation-news {
	margin: 5% 0 5% 2% ;
}

.responsive-menu-button-news {
	font-size: 2rem;
}

.articles-page-title {
	margin: 0 0 0 1.5%;
}

.articles-menu li {
	padding: 20% 0;
	
}

.articles-section-title ,
.local_weather_box {
	display: flex;
	justify-content: center;
}

.articles-article-title {
	margin: 0 3%;
	flex-basis: 100%;
}

.navigation-news , 
.articles-preview_2 ,
.local_weather_box_img_2 {
	display: none;
}

.articles-container {
	margin: 0 0 10% 0;
}

.article-img {
	width: 30%;
	height: 30%;
	float: left;
	margin: 0px 1% 0 0;
} /*https://www.html5andbeyond.com/wrap-text-around-a-rounded-image-using-css-shape-outline/*/

.local_weather_box {
	flex: 1 100%;
}

@media only screen and (min-width: 700px) {
	.articles-wrapper {
		margin: 1% 3% 3% 3%;
	}
	.local_weather_box {
		margin: 0 0 auto 0;
		flex: 1;
	}
	.articles-section-title {
		justify-content: flex-start;
	}
	.articles-page-title {
		font-size: 1.5rem;
	}
}


@media only screen and (max-width: 925px) {
	.articles-page-title {
		margin: 0 0 0 3%;
	}
	.articles-mobile-header {
		display: block;
	}
}
@media only screen and (min-width: 926px) {
	.navigation-news {
		display: block;
	}
	.article-img {
		width: 25%;
		height: 25%;
	}
}

@media only screen and (min-width: 1000px) {
	.article-img {
		width: 20%;
		height: 20%;
	}
}

@media only screen and (min-width: 1400px) {
	.articles-preview_1 {
		display: none;
	}
	.articles-preview_2 {
		display: flex;
	}
	.article-img {
		width: 15%;
		height: 15%;
	}
}
