.bg {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
}
.glass_container {
    position: relative;
}
.glass_bg {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99; 
    /* Pull the background 70px higher to the same place as #bg's */
    /*  background-position: center -70px;*/
    -webkit-filter: blur(10px);
    filter: url('/media/blur.svg#blur');
    filter: blur(10px);
}
.glass {
    /* Put this on top of the blurred layer */
    position:relative;
    z-index: 100;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.55);
}

.light_dark_glass {
    background: rgba(34,34,34,0.75);
}
.dark_glass {
    background: rgba(34,34,34,0.95);
}

@media (max-width: 600px ) {
    #bg { padding: 10px; }
    #glass-bg { background-position: center -10px; }
    }
@media only screen and (min-width: 926px) {
    .glass {
    padding: 20px;
    }
    .header_glass {
    padding: 1rem 0;
    }
}
.header_glass_container {
    position:fixed;
    width: 100%; 
}