#hire_body {
    background-image: url(../img/hire_Arlene_Schnitzer_Concert_Hall.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left top;
}

#hire_wrapper_container  {
	display: flex;
    flex: 1;
	margin: 55px 3% 3% 3%;
}

#hire_p_img_container {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: center;
}

.hire_p {
    margin: 3% 0;
}

hire_img {
    display: flex;
    min-width: 50%;
    min-height: 50%;
    margin-bottom: 3%;
}

#contact_button_and_caption {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin: auto;
	padding-bottom: 5%;
}

#contact_button_and_caption a {
	margin-top: auto;
	font-size: .75rem;
}

@media only screen and (min-width: 805px) {
	#hire_p_img_container {
		justify-content: space-around;
	}
	.hire_p {
		width: 75%;
	}

}
