
.snippet_img_2 , 
.snippet_img_3 ,
.snippet_img_4 {
	display: none;
}

.snippet_img_1 {
	display: flex;
	flex:1 100%;
    max-width: 100%;
    height: auto;
}

.snippet_title , .snippet_p {
	display: none;
}

@media only screen and (min-width: 420px){
	.snippet_img_1 {
		display: none;
	}
	.snippet_img_2 {
		display: flex;
		flex:1 100%;
	    max-width: 100%;
	    height: auto;
	    align-self: center;
	}
}

@media only screen and (min-width: 521px){
	.snippet_img_2 {
		display: none;
	}
	.snippet_img_3 {
		display: flex;	
	    max-width: 100%;
	    height: auto;
	    align-self: center;
	    margin: auto;
	}
}

@media only screen and (min-width: 620px){
	.snippet_caption {
		display: flex;
		width: 620px;
		max-width: 100%;
    max-height: auto;
    margin: 0 auto 0 auto;

	}
}

@media only screen and (min-width: 805px) {
	.snippet-presentation-content-pt1 ,
	.snippet-presentation-content-pt2 {
		margin: .25%;
	}
	
}

@media only screen and (min-width: 1155px){
	.snippet-container {
		margin: 1% 15% 2% 15%;
	}
	/*.snippet-presentation-content-pt1 ,
	.snippet-presentation-content-pt2 {
		width: auto;
	}*/
	.snippet_img_3 {
		order:1;
	} 
	.snippet_caption {
		order:3;
	}
	.snippet {
		order:2;
	}
	
	.snippet ,
	.snippet_title ,
	.snippet_p {
		display: flex;
		flex:1;
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 100%;
		align-self: flex-start;
	}
}	
