body , #website_title {
	font-family: 'Josefin Sans', sans-serif;
}

th, a , p , h1 , h2 , 
h3 h4 , h5 , h6 {
	font-family: 'Oxygen', sans-serif;
}

h1 , h2 , h3 {
	font-weight:700;
}


.sky_background , .active a , #index_major_div1 ,
#index_major_div2 , #index_major_div3 {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center top;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.sky_background  {
	background-color: #FFFFFF;
}

#footer_table>tbody>tr>th {
	border: none;
	width: 33.333%;
	text-align: center;
}

#rotating-item-wrapper {
	position: relative;
	width: 40%;
	height: auto;
	margin: 10px auto;
}
.rotating-title {
	display: none;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 10px;
	left: 49%;
	margin-left: -50px;
	color: red;
}

.down_arrow {
	max-height: 3rem;
}

#index_major_div1 {
	background-image: url('../img/portland_summer.png');
}

#index_major_div2 {
	background: #E6DADA; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #E6DADA , whitesmoke); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #E6DADA , whitesmoke); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.index_card_background {background: #E6DADA; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
	-webkit-box-shadow: -8px 20px 78px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: -8px 20px 78px -1px rgba(0,0,0,0.35);
	box-shadow: -8px 20px 78px -1px rgba(0,0,0,0.35);
	border: none;
}

#products_and_services_main_title {
	color: #000;
}

.products_and_services_img {
	max-width: 260px;
	max-height: 185px;
	
}

#index_major_div3 {
	background-color: whitesmoke;
}

#index_major_div4 {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #F0163A;
	text-shadow: 2px 2px #000000;
}

#index_major_div_footer {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: whitesmoke;
	padding-top: 1rem;
}
      
.web_products_title {
	margin-top: 30%;
}

.whitesmoke , .web_products_title a {
	color: whitesmoke;
}
