/********************************************************/
/***** INDEX: MAIN STYLING [NOT FLEXBOX OR COLORS] *****/
/******************************************************/

/***** WRAPPER *****/

.wrapper_container {
	padding: .45rem;
}

.intro_container {
	padding: 1rem;
}

#index_intro_p p:first-child {
    padding: .25rem 0 .50rem 0;
}

.wrapper_title {
	padding: 1rem 0;
}

.wrapper_title h1 {
	text-align: center;
}

.presentation_area {
	padding: 1rem;
}

.presentation_area_h2 {
	margin-top: 0;
}

.presentation_area_example_img {
	padding-top: .5rem;
}

.example_img_link {
	height: auto; 
	width: auto; 
	max-width: 10rem; 
	max-height: 10rem;
}

/***** WRAPPER FLEXBOX *****/

.wrapper_container {
	flex: 1;
}

.wrapper_title, .index_skill_examples_container, .prestentation_area { 
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.wrapper_title h1 {
	flex: 1;
}

.prestentation_area { 
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	align-items: stretch;
	justify-content: space-around;
}

.presentation_area_h2_p { 
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
	flex: 1 50%;
}

.presentation_area_example_img {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex: 1 50%;
}

@media only screen and (min-width: 915px){
	
	
	.intro_container {
		padding: 2rem 5rem 0 5rem;
	}
	.intro_container h3 {
		padding: 0 1rem;
		margin: 0;
	}
	#index_intro_p p , #index_intro_p p:first-child {
		padding: 1rem;
		margin: 0;
		flex: 1;
	}

	#index_intro_p {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}
	
}

@media only screen and (min-width: 1150px) {
	.intro_container {
		padding: 3rem 10rem 0 10rem;
	}
}