h1 , h2 , h3 , h4 , a {
	font-family: 'Oswald', sans-serif;
}

p , th {
	font-family: 'PT Sans', sans-serif;
}

.sky_background , .active a {
	background-image: url('../img/sky_portland.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: auto;
    background-position: center top;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#footer_table>tbody>tr>th {
	border: none;
	width: 33.333%;
	text-align: center;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.text_align_cener {
	text-align: center;
}

.no_top_margin {
	margin-top: 0;
}

.no_bottom_margin {
	margin-bottom: 0;
}

.vh3_bottom_margin {
	margin-bottom: 3vh;
}

.main_title {
	font-size: 4rem;
}

.navbar-brand {
	background-color: transparent;
}

#comming_soon_title {
    	display: none;
    }

#rotating-item-wrapper {
	position: relative;
	width: 40%;
	height: auto;
	margin: 10px auto;
}
.rotating-title {
	display: none;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 10px;
	left: 49%;
	margin-left: -50px;
	color: red;
}

.down_arrow {
	max-height: 6rem;
}

#index_major_div1 {
	background-image: url('../img/portland_summer.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center top;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 450px;
}

#index_major_div2 {

background: #E6DADA; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
            
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center top;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 450px;
}

.index_thumbnail {background: #E6DADA; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
	-webkit-box-shadow: -8px 20px 78px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: -8px 20px 78px -1px rgba(0,0,0,0.35);
	box-shadow: -8px 20px 78px -1px rgba(0,0,0,0.35);
	border: none;
}

.caption h4 {
	line-height: 1.75;
}

#index_major_div3 {
	background-image: url('../img/wood.jpeg');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: auto;
    background-position: center top;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 450px;
}

#index_major_div4 {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #F0163A;
	text-shadow: 2px 2px #000000;
}

#index_major_div_footer {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: whitesmoke;
	padding-top: 1rem;
}

#full_portfolio_link {
	/*margin: 2vh;*/
	padding: 0;
}

.custom_nav {
	margin-bottom: .005px;
	border: 0;
	border-radius: 0;
        
}

.web_products_title {
	margin-top: 300px;
	margin-bottom: 0;
    color: whitesmoke;
}

.web_products_title a {
    color: whitesmoke;
}

.title_pt2 {
	display: none;
}

#index_about {
	font-size: 2rem;
	line-height: 2.5rem;
}

#index_about_extra {
	display: none;
}

.thumb_bg_med_white {
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	margin-bottom: 35px;
	-webkit-box-shadow: -8px 20px 78px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: -8px 20px 78px -1px rgba(0,0,0,0.35);
	box-shadow: -8px 20px 78px -1px rgba(0,0,0,0.35);
}

@media only screen and (min-width: 360px) {
    /* For mobile phones: */
    /*#index_major_div1 {
		min-height: 475px;
	}*/
	#index_major_div3 {
		min-height: 550px;
	}
	/*.web_products_title {
		margin-top: 350px;
	}*/
	#index_about {
		font-size: 2.25rem;
		line-height: 3rem;
	}
}

@media only screen and (min-width: 400px) {
    /* For mobile phones: */
    #index_major_div1 , #index_major_div3 {
		min-height: 600px;
	}
	.web_products_title {
		margin-top: 300px;
	}
	#index_about {
		font-size: 2.5rem;
		line-height: 3.25rem;
	}
}

@media only screen and (min-width: 600px) {
    /* For mobile phones: */
    #index_major_div1 , #index_major_div3 {
		min-height: 700px;
	}
	.web_products_title {
		margin-top: 400px;
	}
	#index_about {
		font-size: 2.75rem;
		line-height: 3.5rem;
	}
}

@media only screen and (min-width: 750px) {
    /* For mobile phones: */
    #index_about_extra {
    	display: inline;
    }
    #index_major_div1 , #index_major_div3 {
		min-height: 750px;
	}
	.web_products_title {
		margin-top: 450px;
	}
}

@media only screen and (min-width: 772px) {
    /* For mobile phones: */
    #comming_soon_title {
    	display: inline;
    }
}

@media only screen and (min-width: 1000px) {
    /* For mobile phones: */
	.main_title {
	font-size: 5rem;
	}
	#index_major_div1 , #index_major_div3 {
		min-height: 800px;
	}
	.web_products_title {
		margin-top: 500px;
	}
}

@media only screen and (min-width: 1200px) {
    /* For mobile phones: */
    #index_about {
		font-size: 3rem;
		line-height: 5rem;
	}
	.thumb_bg_med_white {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}
	.main_title {
	font-size: 6rem;
	}
}

@media only screen 
  and (min-device-width: 315px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    /* For mobile phones: */
	#index_major_div1 {
		min-height: 350px;
	}
	#index_major_div3 {
		min-height: 350px;
	}
	.web_products_title {
		margin-top: 75px;
	}
	.products_and_services_img {
		max-width: 260px;
		max-height: 185px;
	}
}
