/***** NATIVE OBJECTS START *****/

body {
	min-height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	justify-content: space-around;
	flex: 1;
}

h1 , h2 , h3 , h4 , p {
	padding: .5% 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
} 

ul li {
	list-style-type: none;
}

/***** NATIVE OBJECTS END *****/

/*****************************/

/***** Tools *****/
.txt_center {
    text-align: center;
}
.txt_left {
    text-align: left;
}
.sm_left_padding {
    padding-left: .25%;
}
.padding_top_5 {
    padding-top: 5%;
}
.padding_top_10 {
    padding-top: 10%;
}
.padding_bottom_5{
    padding-bottom: 5%;
}
.right_left_5_padding {
    padding-right: 5%;
    padding-left: 5%;
}
.max_ht_5vh {
    max-height: 3vh;
    max-width: 3vh;
    padding:  0 .15%;
    margin: 0;
}
.min_ht_30vh {
    min-height: .025vh;
}
.row_flex_div{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start
}
.col_flex_div {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: space-around;
    padding-top: 2.5%;
    padding-bottom: 1.5%;
    text-align: center
}

.col_100_flex_div {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
}

.full_page_bg {
    min-height: 100vh;
    max-height: 125vh;
}
.absolute_bottom_vh {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 2%;
}
@media only screen and (min-width: 1150px) {
    .top_bottom_1_padding_at_1150px {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .right_left_15_padding_at_1150px {
        padding-right: 15%;
        padding-left: 15%;
    }
    .right_left_20_padding_at_1150px {
        padding-right: 20%;
        padding-left: 20%;
    }
}
/***** Tools END *****/

/********************/

/***** HEADER START *****/
.header_wrapper {
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 199;
}

.header_bg_height_55px {
    height: 55px;
}

.header_container_1 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	flex: 1;
    
} 

.logo {
	height: auto; 
	width: auto; 
	max-width: 3rem; 
	max-height: 3rem;
}

.name_professional_title_container {
	height: auto; 
	width: auto; 
	padding: 0 .25rem .25rem .25rem;
	margin-right: auto; 
}

.name, .professional_title {
	margin: 0;
}

.professional_title {
	display: none;
}

.title_sub_padding {
    padding-top: 15%; 
}
@media only screen and (min-width: 1150px) {
    .title_sub_padding {
        padding-top: 5%; 
    }
}

/************************/
/*SIDE MENU: SIDR START*/
/**********************/

/*(Dependent IDs & Classes https://www.berriart.com/sidr/*/
/*Site Customization */
/*START*/

.navigation, .nav , .nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	align-self: flex-start;
}	

.nav ul li a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

.mobile-header {
    display: none;
}

/*(Dependent IDs & Classes https://www.berriart.com/sidr/*/
/*Site Customization */
/*END*/

/**********************/
/*SIDE MENU: SIDR END*/
/********************/

.website_main_title, .website_main_subtitle_1 , .website_main_subtitle_2 {
	text-align: center;
	padding: 0;
	margin: 0;
}


.website_main_subtitle_2 li {
   display: inline;
}

/***** HEADER END *****/


/*****************************/

/***** Wapper START *****/

.wrapper-container  {
	flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

/***** Wapper END *****/

/*****************************/

/***** FOOTER START *****/

.footer_container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: auto;
	align-content: center;
	justify-content: space-around;
    height: auto;
    margin-top: 1%;
	padding: ;
    align-items: center;
}

.main_copyright_name {
	padding-top: .5rem;
    margin-left: auto;
}

/***** FOOTER END *****/

/*****************************/
/*****************************/
/*****************************/

/***** COLORING START *****/

/*NATIVE OBJECTS COLOR*/

/*fallback for old browsers*/
/*Chrome 10-25, Safari 5.1-6 */
/*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
body {
	background: #fbfafa;  /*fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #fbfafa , #FFFFFF);  
	background: linear-gradient(to bottom, #fbfafa , #FFFFFF); 
    
}

.white {
    color: #fff
}

.timbers_yellow {
    color: #EBE72B;
}

/*FOOTER COLORS*/

.footer_container {
	background-color: lightgrey;
}

/***** COLORING END *****/

/*****************************/
/*****************************/
/*****************************/


/***** MEDIA QUERIES *****/

@media only screen and (max-width: 925px){
    .mobile-header {
        display: block;
    }
    .nav {
    	display: none;
    }
	.responsive-menu-button {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 400px) {
	.professional_title {
		display: flex;
	} /*Displays Top Left on Header: "Front-end Designer & Developer" (under "Michael Delgado" and to the right of logo/pic)*/
	
	.responsive-menu-button {
		font-size: 2.5rem;
	} /*Enlarges Mobile Menu Symbol (Hamburger Lines)*/
}

/*@media only screen and (min-width: 751px) {
	.nav ul li a {
	padding: .25rem;
	margin: 0 0 0 .25rem;
	}*/ /*Adds spacing around nav menu options (ex. "About", "Hire Mike")*/
/*}*/

@media only screen and (min-width: 794px) {
	.nav ul li a {
	padding: .5rem;
	margin: 0 0 0 .5rem;
	} /*Increases spacing around nav menu options (ex. "About", "Hire Mike")*/

}

@media only screen and (min-width: 1025px){
	
	.website_main_title {
	padding: 1.5rem 0 0 0; 
	} /*Website Title:"INTREPID CREATIVITY DESIGN & DEVELOPMENT"*/
	.website_main_subtitle_1 {
		padding: .5rem;
	}
	.website_main_subtitle_2 {
	padding: .25rem 0 2rem 0;
	} /*Website Subtitle: "HTML CSS JavaScript PHP"*/
	
}

@media only screen and (min-width: 1500px) {
	.nav ul li a {
		font-size: 1.2rem;
	}
}