body {
	font-family: 'Josefin Sans', sans-serif;
}


/*h1 , h2 , h3 , h4 , a {
	font-family: 'Indie Flower', cursive;
}

p , th {
	font-family: 'Josefin Sans', sans-serif;
}*/

.sky_background , .active a {
	background-image: url('../img/sky_portland.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: auto;
    background-position: center top;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#footer_table>tbody>tr>th {
	border: none;
	width: 33.333%;
	text-align: center;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-brand {
	background-color: transparent;
}

#index_major_div4 {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #F0163A;
	text-shadow: 2px 2px #000000;
}

#index_major_div_footer {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: whitesmoke;
	padding-top: 1rem;
}