.presentation-intro-container ,
.presentation-container , 
.presentation-container-title {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 0 15% 0;
	/*height: 100%;*/
}

.presentation-intro-content-pt1 {
		margin: 3% 0;
	}

@media only screen and (min-width: 805px) {
	.presentation-intro-container {
		justify-content: space-around;
		margin: 0 10% 10% 10%;
	}
	.presentation-container-title {
		margin: 0 0 5% 0;
	}
	.presentation-container  {
		justify-content: center;
		margin: 0 5% 10% 5%;
	}
	.presentation-intro-content-pt1 , 
	.presentation-intro-content-pt2 {
		flex: 1;
		margin: 0 3%;
	}
	.presentation-content-pt1 ,
	.presentation-content-pt2 {
		width: 50%;
		margin: 0 1%;
	}
	.presentation-img {
		margin: 0;
		width: initial;
	}
}