/********************************************************/
/***** ABOUT: MAIN STYLING [NOT FLEXBOX OR COLORS] *****/
/******************************************************/

/***** HEADER *****/


/***** WRAPPER *****/

.testimonials_img_2 , 
.testimonials_img_3 ,
.testimonials_img_4 {
	display: none;
}

#testimonials_wrapper_container {
	flex:1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 100%;
}

#testimonials_title ,
#testimonials_subtitle {
	flex: 1 100%;
}

#testimonials_title {
	margin: 0 2%;
}

#testimonials_subtitle {
	margin: 0 5%;
}

.testimonials_img_1 {
	display: flex;
	flex:1 100%;
    max-width: 100%;
    height: auto;
}

.snippet_title , .snippet_p {
	display: none;
}

.testimonials_caption {
	padding: .25rem 0 3rem 0;
}

/***** COLORS *****/

/***** MEDIA QUERIES *****/

@media only screen and (min-width: 420px){
	.testimonials_img_1 {
		display: none;
	}
	.testimonials_img_2 {
		display: flex;
		flex:1 100%;
	    max-width: 100%;
	    height: auto;
	    align-self: center;
	}
}

@media only screen and (min-width: 521px){
	.testimonials_img_2 {
		display: none;
	}
	.testimonials_img_3 {
		display: flex;	
	    max-width: 100%;
	    height: auto;
	    align-self: center;
	    margin: auto;
	}
}

@media only screen and (min-width: 620px){
	.testimonials_caption {
		display: flex;
		width: 620px;
		max-width: 100%;
	    max-height: auto;
	    margin: 0 auto 0 auto;

	}
}


@media only screen and (min-width: 950px){
	.testimonials_img_3 {
		order:1;
	} 
	.testimonials_caption {
		order:3;
	}
	.snippet {
		order:2;
	}
	.testimonials_img_3 , .testimonials_caption {
		margin: 0 0 0 15%;
	}

	.snippet{
		display: flex;
		flex:1;
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 100%;
		align-self: flex-start;
		margin-right: 5%;
		padding-left: .25rem;
	}

	.snippet_title  {
		display: flex;
		flex: 1;
		max-width: 100%;
		align-self: flex-start;
		
	}
	.snippet_p {
		display: flex;
		flex: 1;
		max-width: 100%;
		align-self: flex-start;
	}
}	

@media only screen and (min-width: 1050px) {
	.snippet{
		margin-right: 10%;
	}
}

@media only screen and (min-width: 1150px) {
	.snippet{
		margin-right: 15%;
	}
}