/*
.weather-box
.current-container 
.weather-location-current
.day-icon-high-low-small-box
.weather-day
.day-icon-img
.weather-high-low
*/

.weather-box {
	display: none;
}

@media only screen and (min-width: 400px) {
	.weather-box  {
		display: flex;
		flex-flow: row wrap;
		max-width: 20%;
		margin-left: auto;
		justify-content: center;
		background-color: #4b738e;
	}

	.current-container , .weather-location-current {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		flex-basis: 100%;
		background-color: white;
		margin: .5rem;
		border-radius: 5%;
	}


	.calandar_day {
		display: flex;
		flex-flow: column;
		align-items: center;
		margin: 1%;
		flex: 1;
		background-color: white;
		margin-bottom: .5rem;
		transition: all .2s ease-in-out;
	}

	.calandar_day:hover {
		transform: scale(1.15);

	}

	.weather-day {
		display: flex;
		font-size: 80%;
	}

	.day-icon-img {
		max-width: 50px;
		max-height: 50px;
	}

	.weather-high-low {
		display: flex;
		font-size: 75%;
	}

	.logoWU {
		margin-bottom: .65rem;

		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		order: 999;
	}

	.description {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		flex-basis: 100%;
		margin: .75rem;
	}
	
	.d_title {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		flex-basis: 100%;
		text-decoration: underline;
	}
	.d_txt {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		flex-basis: 100%;
	}

}

@media only screen and (min-width: 934px) and (max-width:1271px) {
	#last_day {
		display: none;
	}
}